
h1 {
    margin: 0 auto;
    font-weight: bold;
    font-size:46px;
    color:var(--primary);
    margin-bottom: 2rem;
}

.main img {
    margin-bottom: 80px;
}

.login_form {
    width:100%;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
    width:446px;
}

input {
    width:100%;
    background:transparent;
    height:41px;
    font-family: 'Assistant',sans-serif;
    border:1px solid var(--primary);
    border-radius:4px;
    margin-bottom: 15px;
    padding:5px 10px;
    color:var(--primary);
    font-size:18px;
    font-weight: 500;
}

input::placeholder {
    color:var(--primary);
    font-size:18px;
    font-weight: 500;
}

input[type="submit"] {
    background:var(--secondary);
    text-align: center;
    border:0px;
    transition: background .3s ease-in;
    color:var(--text);
}

input[type="submit"]:hover {
    background: var(--light-secondary);
}